@model EvaluationsCompetences.ViewModels.DetailsElevesVM
@{
    ViewBag.Title = "DetailsEleves";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h2>Eleve details</h2>
<h3>@Html.DisplayFor(modelItem => Model.eleves.Nom)</h3>
@using (Html.BeginForm())
{
    <table class="table">
       
        <tr>
            <th>
                @Html.DisplayFor(modelItem => modelItem.eleves.Prenom)
            </th>
            <th>
                @Html.DisplayFor(modelItem => modelItem.eleves.Nom)
            </th>
        </tr>    
        <tr>
            <th>
                Branche
            </th>
        </tr>
        <tr>

            <td>
                @Html.DisplayFor(modelItem => modelItem.branches.Nom)
            </td>
        </tr>
        <tr>
            <th>
                Groupes
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.groupes.Nom)
            </td>
        </tr>
    
        <tr>
            <th>
                Objectifs
            </th>
        </tr>
       
        <tr>
            

           
            @for (int i = 0; i < Model.objectifs.Count(); i++)
            {
                <th>
                if (Model.objectifs.ElementAt(i).Minima == true)
                {
                    <td>
                        <b>@Html.DisplayFor(modelItem => modelItem.objectifs.ElementAt(i).Nom) </b>

                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.objectifs.ElementAt(i).Nom)
                    </td>
                }

             </th>
            <th>
                @Html.Label("Acquisition", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    &nbsp;&nbsp;&nbsp;
                    @Html.RadioButtonFor(Model => Model.elevesObjectifs.ElementAt(i).Niveaux, 0) Non-Acquis
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.RadioButtonFor(Model => Model.elevesObjectifs.ElementAt(i).Niveaux, 1) Acquis
                </div>
            </th>
            }
        </tr>


        }
       
    </table>
}