@model IEnumerable<DTO.Eleves>

@{
    ViewBag.Title = "Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des élèves</h2>



<table class="table">
    
        <td>
            <b> Nom</b>
        </td>
        <td>
            <b> Prénom</b>
        </td>
        <td>
            <b>Classe</b>
        </td>
        <th></th>
    

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classes_Id)
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                @Html.ActionLink("Edit", "EditEleves", new { IdEleve = item.Id }) |
                @Html.ActionLink("Details", "DetailsEleves", new { IdEleve = item.Id })
            </td>
        </tr>
    }

</table>
